@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Inter', sans-serif;
}

div[title="Click to see what's popular on this site!"] {
  opacity: 0;
  pointer-events: none;
}
